body {
  font-family: "Courier New", Courier, monospace;
  margin: 0;
  padding: 0;
  background-color: #000000;
  height: 100%;
  width: 100%;
}

.py-3-main {
  background-color: rgb(250 250 250);
}

main.py-3-main {
  min-height: 125vh;
}

.pt-3,
.py-3-main {
  padding-top: 0;
  background-color: rgb(0, 0, 0);
}

.particles {
  position: fixed;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  z-index: -1;
}

/* .py-3 {
  background-color: white;
} */

button {
  cursor: pointer;
}

.center {
  display: center;
  justify-content: center;
}
main {
  min-height: 80vh;
}

h1 {
  font-size: 1.8rem;
  padding: 1rem 0;
}

h2 {
  font-size: 1.4rem;
  padding: 0.5rem 0;
}

h3 {
  padding: 1rem 0;
}

.rating span {
  margin: 0.1rem;
}

/* carousel */
.carousel-item-next,
.carousel-item-prev,
.carousel-item.active {
  display: flex;
}
.carousel-caption {
  top: 0;
  margin-top: 12px;
  z-index: -1 !important;
}

.carousel-caption h4 {
  color: #fff;
}

.carousel {
  width: 100%;
  height: 500px;
  position: relative;
  background-repeat: no-repeat;
  background-size: cover;
  background-image: url("./images/banner.png");
  position: relative;
}

.carousel img {
  display: block;
  height: 300px;
  padding: 30px;
  margin: 40px;
  border-radius: 50%;
  margin-left: auto;
  margin-right: auto;
}
.carousel a {
  margin: 0 auto;
}
@media (max-width: 900px) {
  .carousel-caption h2 {
    font-size: 2.5vw;
  }
}

[class^="cm-"],
[class*=" cm-"] {
  /* use !important to prevent issues with browser extensions that change fonts */
  font-family: "cm-icon" !important;
  font-style: normal;
  font-weight: normal;
  font-variant: normal;
  text-transform: none;
  line-height: 1;

  /* Better Font Rendering =========== */
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

.cm-smart-food-1:before {
  content: "\e950";
}
.cm-smart-food-2:before {
  content: "\e951";
}
.cm-smart-food-3:before {
  content: "\e952";
}
.cm-premium-HRreport:before {
  content: "\e925";
}

Col {
  color: black;
}

.black-card {
  background-color: #202020;
}

.card-title {
  color: white;
}

.page-item.active .page-link .paginate {
  background-color: crimson;
}
.page-item.active .page-link {
  z-index: 3;
  color: #fff;
  background-color: #ff0000 !important;
  border-color: #ff0000 !important;
}
.page-link {
  color: #8a4646 !important;
}
.custom-d {
  background-color: #27272769 !important;
}
.card {
  background-color: black !important;
}

.btn-block {
  background-color: #ff1414 !important;
  border-color: #ff1414 !important;
}
.btn-block:hover {
  background-color: black !important;
  border-color: black !important;
}

h1,
h2,
h3,
h4,
h5,
h6,
h7 {
  color: white !important;
}
a {
  color: white !important;
}

.active {
  border-radius: 5px !important;
}

.list-group-item:hover {
  border-color: #000000 !important;
}
.btn {
  background-color: #ff1414 !important;
  border-color: #ff1414 !important;
}
.btn:hover {
  background-color: black !important;
  border-color: black !important;
}
.login-header {
  width: 100%;
  height: 768px;
  position: relative;
  background-repeat: no-repeat;
  background-size: cover;
  background-image: url("../src/images/login2.jpg");
  position: relative;
  z-index: 0;
}

.login-form {
  background-color: #000000d1 !important;
}
/* .row {
  background: none !important;
} */

.NavDropdown .dropdown-menu.show .dropdown-menu .show {
  background-color: #202020 !important;
}
div.dropdown-menu.show {
  background-color: #202020;
}
.table {
  color: white !important;
}

.dashboard-container {
  background-color: rgb(255, 255, 255);
  min-height: inherit;
  color: rgb(0, 0, 0) !important;
  font-size: 12px !important;
}

.typography-color {
  color: rgb(0, 0, 0);
}

.custom-dd {
  background-color: #161414 !important;
}

.active-d {
  color: #fff;
  background-color: #6aec6a;
  width: fit-content;
  padding: 0 5px;
  border-radius: 2px;
}
.deactive-d {
  color: rgb(255, 255, 255);
  background-color: #ec4f4f;
  width: fit-content;
  padding: 0 5px;
  border-radius: 2px;
}

.dashboard-container h6,
.dashboard-container h2 {
  color: #000000 !important;
  flex-grow: 1;
}

.makeStyles-content-10 {
  overflow: auto;
}

#form-dialog-title {
  color: black !important;
  background-color: #fff !important;
}

.MuiPaper-elevation3 {
  width: 100% !important;
  height: 100% !important;
  margin: 8px;
  padding-top: 50px;
  padding-bottom: 50px;
}

.modal-title {
  color: black !important;
  height: 4rem !important;
}

.MuiTypography-root .MuiTypography-h6 {
  color: #fff !important;
}

.form-check-input {
  border: solid 1px !important ;
}

/* .MuiPaper-root {
  background-color: #000000 !important;
  color: #fff !important;
} */

/* it make dashboard title order ... white 
.MuiTypography-root {
  color: #fff !important;
} */
/* it make dashboard icon white
/* .MuiSvgIcon-root {
  color: white;
} */

#date-picker-inline {
  color: rgb(255, 255, 255) !important;
}

#standard-basic-label {
  color: #fff;
}
.text-radio {
  display: block;
  font-size: 12px;
  line-height: 14px;
  color: #d5cfcf;
  white-space: normal;
}

.onboard-radio {
  border: 1px solid #dae0e6;
  border-radius: 4px;
  margin-bottom: 10px;
  padding: 5px 7px;
}

.MuiInputLabel-formControl {
  top: 0;
  left: 0;
  position: absolute;
  transform: translate(0, 17px) scale(1);
}

select {
  -webkit-appearance: none;
  -moz-appearance: none;
  -ms-appearance: none;
  appearance: none;
  outline: 0;
  box-shadow: none;
  border: 0 !important;
  background: #2c3e50;
  background-image: none;
}
/* Remove IE arrow */
select::-ms-expand {
  display: none;
}
/* Custom Select */
.select {
  position: relative;
  display: flex;
  width: 20em;
  height: 3em;
  line-height: 3;
  background: #2c3e50;
  overflow: hidden;
  border-radius: 0.25em;
}
select {
  flex: 1;
  padding: 0 0.5em;
  color: #fff;
  cursor: pointer;
}
/* Arrow */
.select::after {
  content: "\25BC";
  position: absolute;
  top: 0;
  right: 0;
  padding: 0 1em;
  background: #34495e;
  cursor: pointer;
  pointer-events: none;
  -webkit-transition: 0.25s all ease;
  -o-transition: 0.25s all ease;
  transition: 0.25s all ease;
}
/* Transition */
.select:hover::after {
  color: #f39c12;
}
.MuiInputBase-input,
.MuiInput-input {
  color: white !important;
}

.traineDash {
  min-height: 133vh;
  background-color: rgb(250 250 250) !important;
  position: absolute;
  top: 0px;
  right: 0px;
  bottom: 0px;
  left: 0px;
  color: #000000 !important;
  font-size: 12px;
}
/* .traineDash > h1,
h2,
h3,
h4,
h5,
h6,
h7 {
  color: black !important;
} */

/* .traineDash > h1 {
  color: rgb(0, 0, 0) !important;
}

.traineDash > h2 {
  color: rgb(0, 0, 0) !important;
}

.traineDash > h3 {
  color: rgb(0, 0, 0) !important;
}

.traineDash > h4 {
  color: rgb(0, 0, 0) !important;
}

.traineDash > h5 {
  color: rgb(0, 0, 0) !important;
}

.traineDash > h6 {
  color: rgb(0, 0, 0) !important;
}

.traineDash > h7 {
  color: rgb(0, 0, 0) !important;
} */

:root {
  /* Colors */
  --black: #09090c;
  --grey: #a4b2bc;
  --white: #fff;
  --background: rgba(137, 171, 245, 0.37);
}

.jwwfWv {
  top: 8%;
}

/* html {
  overflow: hidden;
}

*,
*::before,
*::after {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
} */

/* * {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
  font-family: "Lato", sans-serif;
}

.home,
.reports,
.products {
  display: flex;
  height: 90vh;
  align-items: center;
  justify-content: center;
  font-size: 3rem;
} */
.wrapper {
  display: flex;
  position: relative;
}

.wrapper .sidebar {
  width: 200px;
  height: 100%;
  background: #ff0000;
  padding: 30px 0px;
  position: fixed;
}

.wrapper .sidebar li {
  font-size: 18px;
}

.wrapper .sidebar .imgSidebar {
  text-align: center;
  margin-bottom: 25%;
}

.wrapper .sidebar ul li {
  padding: 15px;
  border-bottom: 1px solid #bdb8d7;
  border-bottom: 1px solid rgba(0, 0, 0, 0.05);
  border-top: 1px solid rgba(255, 255, 255, 0.05);
}

.wrapper .sidebar ul li a {
  color: #bdb8d7;
  display: block;
}

.wrapper .sidebar ul li a .fas {
  width: 25px;
}

.wrapper .sidebar ul li:hover {
  background-color: #f82121;
}

.wrapper .sidebar ul li:hover a {
  color: #fff;
}

.wrapper .sidebar .social_media {
  position: absolute;
  bottom: 0;
  left: 50%;
  transform: translateX(-50%);
  display: flex;
}

.wrapper .sidebar .social_media a {
  display: block;
  width: 40px;
  background: #594f8d;
  height: 40px;
  line-height: 45px;
  text-align: center;
  margin: 0 5px;
  color: #bdb8d7;
  border-top-left-radius: 5px;
  border-top-right-radius: 5px;
}

.wrapper .main_content {
  width: 100%;
  margin-left: 200px;
}

.wrapper .main_content .header {
  padding: 20px;
  background: #fff;
  color: #717171;
  border-bottom: 1px solid #e0e4e8;
}

.wrapper .main_content .info {
  margin: 20px;
  color: #717171;
  line-height: 25px;
}

.wrapper .main_content .info div {
  margin-bottom: 20px;
}

@media (max-height: 500px) {
  .social_media {
    display: none !important;
  }
}

.row > * {
  flex-shrink: 1;
}
